@model Cliente



<div class="container d-flex flex-column align-items-center justify-content-center">

    <h1>Pesquisar Cliente</h1>

    <form asp-action="pesquisar" asp-controller="cliente">
    
        <partial name="_FormPesquisar"/>

        <input type="submit" value="Pesquisar" class="btn text-light btn-danger" />
        <a asp-action="index" class="btn btn-dark">Lista de clientes</a>
    </form>

    <table class="table">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Data Entrada</th>
            <th>Data Saída</th>
            <th>Placa</th>
            <th>Cor do carro</th>
            <th></th>
        </tr>

        @if(Model != null)
        {
            <tr>
                <td>@Model.ClienteId</td>
                <td>@Model.Nome</td>
                <td>@Model.DataEntrada.ToShortDateString()</td>
                <td>@Model.DataSaida.ToShortDateString()</td>
                <td>@Model.Placa</td>
                <td>@Model.CorCarro</td>
            </tr>
        }
    </table>
</div>

<style>
    .text-light {
        background-color: dodgerblue;
        border: none;
    }

    h1 {
        color: dodgerblue;
        margin-top: 80px;
    }
</style>